<%
   if not user_signed_in? or not current_user.voted_for? pin
     is_disabled = false
     heart_class = "glyphicon-heart-empty"
   else
     is_disabled = true
     heart_class = "glyphicon-heart"
   end
%>

<%= link_to like_pin_path( pin ),
            method: :put,
            class: "btn btn-default btn-like",
            disabled: is_disabled do %>
  <span class="number-of-likes"><%= pin.get_likes.size %></span>
  <span class="glyphicon <%=heart_class%>"></span>
<% end %>
