<% @pins.each do |pin| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= image_tag pin.image %>
    </div>
    <div class="panel-footer">
      <%= link_to pin.title, pin %>
    </div>
  </div>
<% end %>
