<div id="masonry-container">
  <% @pins.each do |pin| %>
    <div class="pin panel panel-default">
      <div class="panel-body">
        <%= image_tag pin.image(:medium ) %>
      </div>
      <div class="panel-footer">
        <p>
          <strong>
            <%= link_to pin.title, pin %>
          </strong>
        </p>
        <p>
          <%= pin.description %>
        </p>
      </div>
      <div class="panel-footer">
        Submitted by <%= pin.user.email %>
      </div>
    </div>
  <% end %>
</div>
